



<h1><center> Movie Details </center></h1>

<div><center>   <%= @movie.year %>   </center></div>
<div><center>   <%= @movie.duration%>   </center></div>
<div><center>   <%= @movie.description %>   </center></div>
<div><center>   <%= @movie.title %>   </center></div>


<center><img src="<%= @movie.image_url %>" width="720"></center>




