<h1>List of Directors</h1>

<a href="http://localhost:3000/movie/new">Add a New Movie</a>

<table>
  <tr>
    <th>Name</th>
    <th>Bio</th>
    <th>DOB</th>
    <th>Image</th>
  </tr>
  <% @list_of_directors.each do |director| %>
  <tr>
    <td>
      <%= director.name %>
    </td>
    <td>
      <%= director.bio %>
    </td>
      <td>
      <%= director.dob %>
    </td>
      <td>
      <img src="<%= director.image_url %>" width="80">
    </td>
    <td>
      <a href="http://localhost:3000/director/<%= director.id %>">Show</a>
    </td>
    <td>
      <a href="http://localhost:3000/director/<%= director.id %>/edit">Edit</a>
    </td>
    <td>
      <a href="http://localhost:3000/delete_director/<%= director.id %>">Delete</a>
    </td>
  </tr>
  <% end %>
</table>


